@font-face {
	font-family: OldNewspaperTypes;
	src: url('fonts/OldNewspaperTypes.ttf');
}

body{
	font-family: OldNewspaperTypes;
	color: #d3d3d3;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-shadow: 1px 1px 3px black;
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}

header{
	height: 100px;
	width: auto;
	text-align: center;
}

.circle_container{
	width: 100%;
	height:350px;
	margin: 0 auto;
}
.new_row {
	width: 800px;
	margin: 1% auto;

}
.circles{
	width: 125px;
	height: 125px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:inline-block;
	margin: 0% 1%;

}
.body_container {
	max-width: 1000px;
	min-height: 400px;
	margin: 0 auto;

}
aside {
	width: 30%;
	min-height: 400px;
	display: table-cell;
}

section {
	width: 69%;
	min-height: 400px;
	display: table-cell;
    transform: scale(0);
    transition: .5s;
    text-shadow: 1px -2px #000;
}


footer{
	height: 100px;
	width: auto;
	text-align: center;
}
.body_container {
	height: auto;
	width: 100%;

}
.thumb_image{
    float: right;
    height: 170px;
    width: auto;
}
.small_thumb{
    float: left;
    height: 40px;
    width: auto;
    margin: 0px 20px 20px 20px;
}
.summary_text{
    float: left;
    margin-left: 18px;
    line-height: 21px;
}
body{
    position: relative;
}
#dropshadow{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
    display: none;
    z-index: 200;
}
#video_modal{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 202;
    display: none;
    text-align: center;
}
.waitspinner_container{
    height: 100%;
    width: 100%;
    z-index:201;
}
.waitspinner{
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
}
#ytplayer{
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translateY(-50%) translateX(-50%);
}
.movie_info_link{
    line-height: 18px;
    font-size: 16px;
    
}
.clearfloat{
    clear:both;
}
.appear{
    transform: scale(1);
}

