@font-face {
	font-family: OldNewspaperTypes;
	src: url('fonts/OldNewspaperTypes.ttf');
}

body{
	font-family: OldNewspaperTypes;
	color: #d3d3d3;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-shadow: 1px 1px 3px black;
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}

header{
	height: 100px;
	width: auto;
	text-align: center;
}

.circle_container{
	width: 100%;
	height:350px;
	margin: 0 auto;
}
.new_row {
	width: 800px;
	margin: 1% auto;
}
.circles{
	width: 125px;
	height: 125px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:inline-block;
	margin: 0% 1%;

}
.body_container {
	max-width: 1000px;
	min-height: 400px;
	margin: 0 auto;

}
aside {
	width: 30%;
	min-height: 400px;
	display: inline-block;
}

section {
	width: 69%;
	min-height: 400px;
	display: inline-block;
}


footer{
	height: 100px;
	width: auto;
	text-align: center;
}
.body_container {
	height: auto;
	width: 100%;
	border: 1px solid red;
}
